@model HomeViewModel



<section class="slider">
    <div class="container">
        <div class="side_bar">
            <h2><i class="fa-solid fa-bars"></i>Shop by derparment</h2>
            <a href="#">All Categories</a>
            <a href="#">Best Seller Products</a>
            <a href="#">New Arrivals</a>
            <a href="#">Top 10 offers</a>
            <a href="#">Jeans</a>
            <a href="#">T-Shaert</a>
            <a href="#">Fashion</a>
            <a href="#">Clothings</a>
            <a href="#">Man</a>
        </div>

        <!-- Swiper -->
        <div class="slide-swp mySwiper">

            <div class="swiper-wrapper">

                @foreach(var category in Model.Categories)
                {

                <div class="swiper-slide">
                    <a href="#"><img src="~/@category.img" alt=""></a>
                </div>
                }

            </div>


            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>


<section class="features">
    <div class="container">
        <div class="feature_item">
            <img src="img/features1.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>

        <div class="feature_item">
            <img src="img/features2.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>

        <div class="feature_item">
            <img src="img/features3.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>

        <div class="feature_item">
            <img src="img/features4.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>

        <div class="feature_item">
            <img src="img/features5.png" alt="">
            <div class="text">
                <h4>Free Shipping</h4>
                <p>Free Shipping on all order</p>
            </div>
        </div>


    </div>
</section>



<section class="banner">
    <div class="container">


        <div class="banner_img">
            <div class="glass_hover"></div>
            <a href="#"></a>
            <img src="img/banner/banner-1.jpg" alt="">

        </div>

        <div class="banner_img">
            <div class="glass_hover"></div>
            <a href="#"></a>
            <img src="img/banner/banner-2.jpg" alt="">

        </div>

        <div class="banner_img">
            <div class="glass_hover"></div>
            <a href="#"></a>
            <img src="img/banner/banner-3.jpg" alt="">

        </div>

    </div>
</section>





















<section class="slide slide_sale">
    <div class="container">

        <div class="sale_sec mySwiper">
            <div class="top_slide">
                <h2>On Sale <span>Product</span></h2>
            </div>


            <div class="products swiper-wrapper">




                @foreach (var  Product in Model.Images)
                {

                <div class="product swiper-slide">


                    <div class="icons">
                            <a asp-controller="Home" asp-action="Details" asp-route-ProductID="@Product.Product.ProductID"><span><i class="fa-solid fa-cart-plus"></i></span></a>
                        <span><i class="fa-solid fa-heart"></i></span>
                        <span><i class="fa-solid fa-share"></i></span>
                    </div>



                    <span class="sale_present">%10</span>



                    <div class="img_product">

                            <a asp-controller="Home" asp-action="Details" asp-route-ProductID="@Product.ProductID">


                                <img src="~/@Product.ImagePathFirst" alt="">
                                <img class="img_hover" src="~/@Product.ImagePathSeconed" alt="">

                        </a>
                    </div>


                        <h3 class="name_product"><a href="#">@Product.Product.ProductName</a></h3>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="price">
                            <p><span>@Product.Product.ProductPrice</span></p>
                        <p class="old_price">$240</p>
                    </div>
                </div>



                }
                <div class="product swiper-slide">


                    <div class="icons">
                        <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                        <span><i class="fa-solid fa-heart"></i></span>
                        <span><i class="fa-solid fa-share"></i></span>
                    </div>



                    <span class="sale_present">%10</span>



                    <div class="img_product">
                        <img src="img/product/product-1.jpg" alt="">
                        <img class="img_hover" src="img/product/product1.jpg" alt="">
                    </div>


                    <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="price">
                        <p><span>$220</span></p>
                        <p class="old_price">$240</p>
                    </div>
                </div>

                <div class="product swiper-slide">


                    <div class="icons">
                        <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                        <span><i class="fa-solid fa-heart"></i></span>
                        <span><i class="fa-solid fa-share"></i></span>
                    </div>



                    <span class="sale_present">%10</span>



                    <div class="img_product">
                        <img src="img/product/product-1.jpg" alt="">
                        <img class="img_hover" src="img/product/product1.jpg" alt="">
                    </div>


                    <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="price">
                        <p><span>$220</span></p>
                        <p class="old_price">$240</p>
                    </div>
                </div>

                <div class="product swiper-slide">


                    <div class="icons">
                        <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                        <span><i class="fa-solid fa-heart"></i></span>
                        <span><i class="fa-solid fa-share"></i></span>
                    </div>



                    <span class="sale_present">%10</span>



                    <div class="img_product">
                        <img src="img/product/product-1.jpg" alt="">
                        <img class="img_hover" src="img/product/product1.jpg" alt="">
                    </div>


                    <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="price">
                        <p><span>$220</span></p>
                        <p class="old_price">$240</p>
                    </div>
                </div>


                <div class="product swiper-slide">


                    <div class="icons">
                        <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                        <span><i class="fa-solid fa-heart"></i></span>
                        <span><i class="fa-solid fa-share"></i></span>
                    </div>



                    <span class="sale_present">%10</span>



                    <div class="img_product">
                        <img src="img/product/product-1.jpg" alt="">
                        <img class="img_hover" src="img/product/product1.jpg" alt="">
                    </div>


                    <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="price">
                        <p><span>$220</span></p>
                        <p class="old_price">$240</p>
                    </div>
                </div>

                <div class="product swiper-slide">


                    <div class="icons">
                        <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                        <span><i class="fa-solid fa-heart"></i></span>
                        <span><i class="fa-solid fa-share"></i></span>
                    </div>



                    <span class="sale_present">%10</span>



                    <div class="img_product">
                        <img src="img/product/product-1.jpg" alt="">
                        <img class="img_hover" src="img/product/product1.jpg" alt="">
                    </div>


                    <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="price">
                        <p><span>$220</span></p>
                        <p class="old_price">$240</p>
                    </div>
                </div>



            </div>
            <div class="swiper-button-next btn_Swip"></div>
            <div class="swiper-button-prev btn_Swip"></div>

        </div>
    </div>
</section>











































































<section class="banner banner_big">
    <div class="container">


        <div class="banner_img">
            <div class="glass_hover"></div>
            <a href="#"></a>
            <img src="img/banner/banner-4.jpg" alt="">

        </div>

        <div class="banner_img">
            <div class="glass_hover"></div>
            <a href="#"></a>
            <img src="img/banner/banner-5.jpg" alt="">

        </div>


    </div>
</section>


<section class="slide slide_product">
    <div class="container">


        <div class="top_slide">
            <h2>Computer & Desktop <span>Products</span></h2>
        </div>

        <div class="slide_with_img">

            <div class="categ_img">
                <a href="#"><img src="img/banner/banner-sm-1.jpg" alt=""></a>
            </div>

            <div class="product_swip mySwiper">
                <div class="products other_product_swiper swiper-wrapper">


                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>

                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>

                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>
                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>
                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>
                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>
                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>





                </div>

                <div class="swiper-button-next btn_Swip"></div>
                <div class="swiper-button-prev btn_Swip"></div>

            </div>

        </div>

    </div>
</section>

<section class="slide slide_product">
    <div class="container">


        <div class="top_slide">
            <h2>Computer & Desktop <span>Products</span></h2>
        </div>

        <div class="slide_with_img">


            <div class="product_swip mySwiper">
                <div class="products other_product_swiper swiper-wrapper">


                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>

                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>

                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>
                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>
                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>
                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>
                    <div class="product swiper-slide">


                        <div class="icons">
                            <a href=""><span><i class="fa-solid fa-cart-plus"></i></span></a>
                            <span><i class="fa-solid fa-heart"></i></span>
                            <span><i class="fa-solid fa-share"></i></span>
                        </div>



                        <span class="sale_present">%10</span>



                        <div class="img_product">
                            <img src="img/product/product-1.jpg" alt="">
                            <img class="img_hover" src="img/product/product1.jpg" alt="">
                        </div>


                        <h3 class="name_product"><a href="#">Product1 baraa</a></h3>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <p><span>$220</span></p>
                            <p class="old_price">$240</p>
                        </div>
                    </div>





                </div>

                <div class="swiper-button-next btn_Swip"></div>
                <div class="swiper-button-prev btn_Swip"></div>

            </div>

            <div class="categ_img">
                <a href="#"><img src="img/banner/banner-sm-2.jpg" alt=""></a>
            </div>

        </div>

    </div>
</section>

<section class="banner">
    <div class="container">


        <div class="banner_img">
            <div class="glass_hover"></div>
            <a href="#"></a>
            <img src="img/banner/banner-1.jpg" alt="">

        </div>

        <div class="banner_img">
            <div class="glass_hover"></div>
            <a href="#"></a>
            <img src="img/banner/banner-2.jpg" alt="">

        </div>

        <div class="banner_img">
            <div class="glass_hover"></div>
            <a href="#"></a>
            <img src="img/banner/banner-3.jpg" alt="">

        </div>

    </div>
</section>