@model Category

@{
	ViewBag.PageTitle = "Category Management";
	ViewBag.CardTitle = "Create Category";

}


<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div class="mb-3">
				<label asp-for="CategotyName"></label>
				<input asp-for="CategotyName" class="form-control" />
				<span asp-validation-for="CategotyName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="CategoryDescription"></label>
				<textarea  asp-for="CategoryDescription" class="form-control"></textarea>
				<span asp-validation-for="CategoryDescription" class="text-danger"></span>
			</div>



			<div class="mb-3">
				<label asp-for="img"></label>
				<input type="file" name="upload" id="file" class="form-control" onchange="fillimg(event);" />
				<!--<span asp-validation-for="ProductImg" class="text-danger"></span>-->
			</div>

	
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary"/>
		
			</div>
		</form>


		<div class="col-md-4">
			<div class="container">
				<img id="ImagePrevew" width="300" height="300" />
			</div>
		</div>

	</div>

</div>


<div>
	<a asp-action="Index" asp-controller="Category">Back to Index</a>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial"/>

	<script>
		var fillimg = function(event){
			var imgholder = document.getElementById("ImagePrevew");
			imgholder.src = URL.createObjectURL(event.target.files[0]);
		}
	</script>


}